<%- include("partials/header") -%>

<h1>Shop</h1>
</div>
</div>
</div>

<div class="navContainer row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <form action="/search" method="post">
      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
          <input type="search" list="mushrooms" name="q" maxlength="40" required placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
          <div class="input-group-append">
            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<datalist id="mushrooms">
  <option value="golden oyster mushroom">
  <option value="king oyster mushroom">
  <option value="pink oyster mushroom">
</datalist>

<div class="navContainer row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <form class="" action="/sort" method="post">
      <select class="browser-default custom-select" name="selectedOption" onchange="this.form.submit()">
        <option selected disabled value="">How to sort?</option>
        <option value="A-Z">A-Z</option>
        <option value="Rating">Rating</option>
      </select>
      </form>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <% productNames.forEach(myFunction);
      function myFunction(item) { %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="box">
            <p class="productName"><%= item[0] %></p>
            <hr>
            <div class="<%= item[1] %>">
            </div>
            <hr>
            <ul>
              <li><%= item[2] %></li>
              <li><%= item[3] %></li>
            </ul>
            <hr>
            <p><%= item[4] %> out of 10</p>
            <button class="myBtn">Rate</button>
            <hr>
            <form action="/order" method="post">
              <button type="submit" class="btn btn-info btn-lg btnBottom btn-block" name="mushroom_type" value="<%= item[0] %>">Order</button>
            </form>
          </div>
        </div>
      <% } %>
  </div>
</div>

<div class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Coming soon</p>
  </div>
</div>

<script>
var modal = document.getElementsByClassName("modal")[0];
var btn1 = document.getElementsByClassName("myBtn")[0];
var btn2 = document.getElementsByClassName("myBtn")[1];
var btn3 = document.getElementsByClassName("myBtn")[2];
var span = document.getElementsByClassName("close")[0];

btn1.onclick = function() {
  modal.style.display = "block";
};
btn2.onclick = function() {
  modal.style.display = "block";
};
btn3.onclick = function() {
  modal.style.display = "block";
};

span.onclick = function() {
  modal.style.display = "none";
};
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
};
</script>

<%- include("partials/footer") -%>
