<%- include("partials/header") -%>

<h1>Shop</h1>
</div>
</div>
</div>

<div class="navContainer row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <form action="/search" method="post">
      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
          <input type="search" list="mushrooms" name="q" maxlength="40" required placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
          <div class="input-group-append">
            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<datalist id="mushrooms">
  <option value="golden oyster mushroom">
  <option value="king oyster mushroom">
  <option value="pink oyster mushroom">
</datalist>

<div class="navContainer row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <form class="" action="/sort" method="post">
      <select class="browser-default custom-select" name="selectedOption" onchange="this.form.submit()">
        <option selected disabled value="A-Z">A-Z</option>
        <option value="Rating">Rating</option>
      </select>
    </form>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <% productNamesSortedAtoZ.forEach(myFunction);
      function myFunction(item) { %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="box">
            <p class="productName"><%= item[0] %></p>
            <hr>
            <div class="<%= item[1] %>">
            </div>
            <hr>
            <ul>
              <li><%= item[2] %></li>
              <li><%= item[3] %></li>
            </ul>
            <hr>
            <p><%= item[4] %> out of 10</p>
            <hr>
            <button type="button" class="btn btn-info btn-lg btnBottom btn-block ">Learn More</button>
          </div>
        </div>
      <% } %>
  </div>
</div>



<%- include("partials/footer") -%>
